
@{
    Layout = null;
}
@{
    int check = 0;
    var session = (ShopQuanAoLite.Models.KhachHang)Session["Taikhoan"];
    <div class="container">
        <div data-animate="fadeInDown">
            <ul class="menu" style="padding-left: 0px;">
                @if (session != null)
                {
                    <li class="dropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="margin-top: 0px;">
                            <i class="halflings-icon white user"></i>
                            @session.HoTen
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu-title">
                                <span>Account Settings</span>
                            </li>
                            <li><a href="/NguoiDung/Profile" style="background: white;color: black;"><i class="halflings-icon user"></i> Profile</a></li>
                            <li><a href="/NguoiDung/LogOut" style="background: white;color: black;"><i class="halflings-icon off"></i> Log Out</a></li>
                        </ul>
                    </li>
                    check = 1;
                }
                else
                {
                    <li>
                        <a href="#" data-toggle="modal" data-target="#login-modal">Đăng nhập</a>
                    </li>
                    <li>
                      <a href="/NguoiDung/DangKy">Đăng ký</a>
                  </li>
                }
            </ul>
        </div>
    </div>
    if (check == 0)
    {
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h class="modal-title" id="Login">Đăng nhập</h>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("DangNhap", "NguoiDung", FormMethod.Post))
                        {
                            Html.ValidationSummary(true, "", new { @class = "text-danger" });
                            <div class="form-group">
                                <input type="text" id="tendangnhap" name="TenDangNhap" class="form-control" autofocus="autofocus" placeholder="Tên đăng nhập" />
                            </div>
                            <div class="form-group">
                              <input type="password" id="matkhau" name="MatKhau" class="form-control" placeholder="Mật khẩu" />
                            </div>

                            <p class="text-center">
                             <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Đăng nhập</button>
                           </p>
                        }

                        <p class="text-center text-muted"><a href="/NguoiDung/Dangky"><strong style="background:white;color:#428bca;">Đăng ký ngay</strong></a>! Đăng ký đơn giản chỉ trong 1 phút và bạn có cơ hội nhận được rất nhiều ưu đãi!</p>
                    </div>
                </div>
            </div>
        </div>
    }
}